body {
    margin: 0; 
    padding: 0; 
    height: 100vh; 
    display: flex; 
    flex-direction: column;
}

.parte-superior {
    flex: 1;
    background-color: #8C2FFA;
    display: flex;
    flex-direction: column; /* Apilar elementos verticalmente */
    align-items: center; 
    justify-content: center; /* Centra verticalmente los elementos */
    position: relative; 
}

.boton-regresar { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    background-color: transparent; 
    border: none;
    cursor: pointer; 
}

h2 {
    margin: 0; 
    padding-top: 20px; 
}

.trailer-container {
    display: flex; 
    align-items: center; 
    margin-top: 20px; 
}

.trailer-box {
    width: 800px; 
    height: 300px;
    background-color: #ccc; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 0 20px; 
}

.play-button {
    background-color: transparent; 
    border: none; 
    cursor: pointer; 
}

.arrow-left, .arrow-right {
    background-color: transparent; 
    border: none; 
    cursor: pointer; 
}

.trailer-indicators {
    display: flex; 
    justify-content: center; 
    margin-top: 40px; 
    transform: translateY(-10px);
}

.indicator {
    width: 15px; 
    height: 15px; 
    background-color: transparent; 
    border: 3px solid #000; 
    border-radius: 50%; 
    margin: 0 50px; 
}

.parte-inferior {
    background-color: #4A2FFA;
    text-align: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.informacion{ 
    background-color: transparent; 
    color: white; 
    padding: 20px; 
    border-radius: 10px; 
    width: 80%; 
    max-width: 600px; 
    text-align: center; 
}

.sinopsis { 
    background-color: transparent; 
    color: white; 
    padding: 20px; 
    border-radius: 10px; 
    width: 80%; 
    max-width: 600px; 
    text-align: center; 
    margin-left: 0;
}

.sinopsis-texto{
    text-align: justify;
}

.informacion h3{
    background-color: #E493FA;
    color: black;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    display: inline block;
    margin: 0 auto;
}

.sinopsis h3{
    background-color: #E493FA;
    color: black;
    width: 70px;
    padding: 10px;
    border-radius: 5px;
    display: inline block;
    margin: 0 auto;
}


.boton-comprar { 
    background-color: #CF2FFA; 
    color: black; 
    padding: 1rem 2rem; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 15px; 
    margin-top: 20px; 
    
} 
.boton-comprar:hover { 
    background-color: #ff79a6; 
}
